:root{
 --primary-color: #6c63ff;
 --default-font-family: "Poppins", sans-serif;
}
h1, h2{
  color: #222;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1{
 font-size: 96px; 
 line-height: 1.5;
}

h2{
  font-size: 64px;
}

p{
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero{
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

.hero p{
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2{
font-family: "Poppins", sans-serif;
 font-weight: normal;
 font-size: 24px; 
 line-height: 2;
 color: #272142;
}

.btn-branding{
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: none;
  font-family: var(--default-font-family);
  text-decoration: none;
}

.btn-branding:hover {
  
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid #6c63ff;
}

.weather-link{
  background-color: #6c63ff;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
    
}

.weather-link:hover{
  transform: scale(1.2);
  background-color: #fff;
  color: #6c63ff;
  border: 1px solid #6c63ff;
}

.project-description{
padding: 100px 60px;
}

.image{
  background-color: #f9f7fe;
  padding: 35px 35px 35px 35px;
}
.age{
  position: relative;
  bottom: 90px;
}

@media (max-width: 960px){

  h1{
    font-size: 44px;
    line-height: 2;
  }
  h2{
    font-size: 44px;
    padding-top: 30px;
  }
  .hero{
    padding: 80px 20px;
  }
  .project-description{
    padding: 0;
    text-align: center;
  }
  .age{
  
    bottom :0px;
  }
}

/**About section**/

.about-section h1{
  font-size: 64px;
  line-height: 80px;
}

.about-content{
margin-top: 80px;
}

.about-image{
width: 100%;
border-radius: 5px;
  
}